.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.app-but-container h1 {
  width: 100px;
  height: 100px;
  display: inline-block;
}
